.container {
    display: flex;
    height: 100vh;
}

.leftSide, .rightSide {
    width: 50%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f8f9fa;
}


.leftSide p {
    font-size: 100%;
    margin-bottom: 40px;
}

.registerButton {
    padding: 10px 20px;
    font-size: 110%;
    color: #f0f0f0;
    background-color: Black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.registerButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rightSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
